<template>
  <v-container>
    <v-row>
      <v-col
        cols="12"
        sm="6"
      >
        <v-select
          v-model="pepRelationship"
          :rules="[() => !!pepRelationship || 'The field is required']"
          :items="[]"
          :item-props="[]"
          label="Relationship to the PEP"
          variant="outlined"
          density="compact"
          color="#2B0A57"
          append-inner-icon="mdi-chevron-down"
        />
      </v-col>
      <v-col
        cols="12"
        sm="6"
      >
        <v-select
          v-model="pepRegion"
          :items="[]"
          :item-props="[]"
          :rules="[() => !!pepRegion || 'The field is required']"
          label="PEP region"
          variant="outlined"
          density="compact"
          color="#2B0A57"
          append-inner-icon="mdi-chevron-down"
        />
      </v-col>
      <v-col
        cols="12"
        sm="6"
      >
        <v-select
          v-model="pepPosition"
          :items="[]"
          :item-props="[]"
          :rules="[() => !!pepPosition || 'The field is required']"
          label="PEP position"
          variant="outlined"
          density="compact"
          color="#2B0A57"
          append-inner-icon="mdi-chevron-down"
        />
      </v-col>
      <v-col
        cols="12"
        sm="6"
      >
        <v-select
          v-model="pepDuration"
          :items="[]"
          :item-props="[]"
          :rules="[() => !!pepDuration || 'The field is required']"
          label="Duration as PEP or related to a PEP"
          variant="outlined"
          density="compact"
          color="#2B0A57"
          append-inner-icon="mdi-chevron-down"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
import { ref } from "vue";

const pepRelationship = ref(null);
const pepRegion = ref(null);
const pepPosition = ref(null);
const pepDuration = ref(null);

</script>
