<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div class="logo">
    <img
      src="@/assets/logo.svg"
      alt="inbank-logo"
    >
  </div>
</template>

<style scoped lang="scss">
.logo{
	width: 100%;
	text-align: center;
	margin-top: 22px;
}
</style>
