<template>
  <div class="loan-details-badge">
    <div
      v-if="!isLoanEditActive"
      class="loan-details-badge__content"
    >
      <button @click="isLoanEditActive = true">
        <img
          src="@/assets/arrow-left.svg"
          alt="arrow-left"
        >
      </button>
      <div class="loan-badge">
        <p class="loan-badge__title">
          Your loan application
        </p>
        <p class="loan-badge__amount">
          {{ selectedLoanAmount }}<sup>€</sup> / {{ selectedLoanDuration }} months
        </p>
      </div>
    </div>
    <div
      v-if="isLoanEditActive"
      class="loan-details-badge__edit-mode"
    >
      <v-col
        class="d-flex align-center pl-sm-6"
        sm="3"
      >
        <v-label class="pr-4">
          Amount
        </v-label>
        <v-select
          v-model="selectedLoanAmount"
          :items="loanAmountOptions"
          :item-props="transformOptions"
          variant="underlined"
          @update:model-value="handleLoanSubmit"
        />
      </v-col>
      <v-col
        class="d-flex align-center pl-sm-3"
        sm="3"
      >
        <v-label class="pr-4">
          Duration
        </v-label>
        <v-select
          v-model="selectedLoanDuration"
          :items="loanDurationOptions"
          :item-props="transformOptions"
          variant="underlined"
          @update:model-value="handleLoanSubmit"
        />
      </v-col>
      <v-col
        sm="6"
        class="payment-value d-flex align-center"
      >
        <span class="ml-sm-8">
          Monthly Payment {{ loanPerMonth }}€
        </span>
        <button @click="isLoanEditActive = false">
          <img
            src="@/assets/arrow-right.svg"
            alt="arrow-right"
          >
        </button>
      </v-col>
    </div>
  </div>
</template>

<script setup lang="ts">

import { ref } from "vue";

import { getLoanAmountOptions, getLoanDurationOptions } from "@/helpers/loanOptions";
import { LoanAmountType, LoanDurationType } from "@/types/loanOptionsType";

const loanAmountOptions = ref<LoanAmountType[]>(getLoanAmountOptions());
const loanDurationOptions = ref<LoanDurationType[]>(getLoanDurationOptions());
const selectedLoanAmount = ref<number>(200);
const selectedLoanDuration = ref<number>(2);
const loanPerMonth = ref<number>(100);
const isLoanEditActive = ref<boolean>(true);

const transformOptions = (item: LoanAmountType | LoanDurationType) => ({ title: item.name });

const handleLoanSubmit = ():void => {
    loanPerMonth.value = Number((selectedLoanAmount.value / selectedLoanDuration.value).toFixed(2));
};

</script>

<style lang="scss">
	.loan-details-badge {
		margin: auto;
		margin-top: 67px;
		max-width: 764px;
		border-radius: 30px;
		background-color: #2B0A57;

		&__content {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: baseline;
			position: relative;

			button {
				position: absolute;
				top: 50%;
				left: 5%;
				transform: translateY(-50%);
			}
			.loan-badge {
				display: flex;
				&__title {
					color: #FDFDFD;
					font-size: 20px;
					font-weight: 500;
					padding-right: 12.44px;
					margin: 13px 0;
				}

				&__amount {
					font-size: 16px;
					font-weight: 300;
					color: #FDFDFD;
					line-height: 32px;
					margin: 13px 0;
				}
			}
		}

		&__edit-mode {
			color: #FDFDFD;
			display: flex;

			.v-field__input {
				padding: 0;
			}

			.v-input__details {
				display: none;
			}

			label {
				font-size: 14px;
			}

			.payment-value {
				position: relative;
				span {
					border-radius: 30px;
					background: #3A156C;
					padding: 12px 30px;
				}

				button {
					position: absolute;
					right: 15px;
					top: 50%;
					transform: translateY(-50%);
					width: 34px;
					height: 34px;
					border-radius: 50%;
					background-color: #FDFDFD;

					& > img {
						filter: invert(11%) sepia(78%) saturate(2443%) hue-rotate(255deg) brightness(30%) contrast(104%);
					}

					&:hover{
						filter: drop-shadow(0px 1px 25px #5948AD);
					}
				}
			}
		}
	}
</style>
