<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div
    class="popup-modal"
    @click.self="emit('close')"
  >
    <div class="modal-inner">
      <button @click="emit('close')">
        <img
          src="@/assets/close.svg"
          alt="close"
        >
      </button>
      <h3>{{ props.title }}</h3>
      <p class="body">
        <slot />
      </p>
    </div>
  </div>
</template>

<script setup lang="ts">
import { defineProps, onMounted, onUnmounted } from "vue";

const props = defineProps({
    title: {
        type: String,
        required: true,
        default: "Modal title"
    }
});

const emit = defineEmits(["close"]);

const handleEscapeKeyPress = (event:KeyboardEvent):void => {
    if(event.key === "Escape") {
        emit("close");
    }
};

onMounted(() => window.addEventListener("keydown", handleEscapeKeyPress));
onUnmounted(() => window.removeEventListener("keydown", handleEscapeKeyPress));
</script>

<style scoped lang="scss">
.popup-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(253, 253, 253, 0.40);
	backdrop-filter: blur(15px);
	display: flex;
	align-items: center;
	z-index: 99;
	transition: all .3s linear;

	.modal-inner {
		width: 505px;
		height: 496px;
		overflow-y: scroll;
		margin: auto;
		padding: 41px 27px;
		background-color: #FDFDFD;
		box-shadow: 0px 4px 10px 0px rgba(130, 130, 130, 0.25);
		border-radius: 20px;

		button{
			margin-bottom: 44px;
		}

		.body {
			margin-top: 11px;
		}
	}
}
</style>
