<template>
  <v-row class="horizontal align-center">
    <v-col sm="5">
      <div class="horizontal__line horizontal__line--left" />
    </v-col>
    <v-col
      sm="2"
      class="text-center"
    >
      Or
    </v-col>
    <v-col sm="5">
      <div class="horizontal__line horizontal__line--right" />
    </v-col>
  </v-row>
</template>
<style scoped lang="scss">
.horizontal {
	margin: auto;
	max-width: 764px;

	&__line {
		width: 174px;
		margin: auto;
		height: 1px;
		background: #E9E9E9;
		padding: 0;

	}
}
</style>
