<template>
  <v-container class="customer-details px-0 py-0">
    <div class="customer-details__personal-info">
      <div class="customer-name">
        <span>{{ fullname }}</span>
        <button
          class="edit"
          @click="toggleEditing"
        >
          <img
            src="@/assets/edit.svg"
            alt="edit"
          >
        </button>
      </div>
    </div>
    <div class="customer-details__contact-details">
      <div class="customer-id">
        <div v-if="!isEditing">
          <img
            src="@/assets/user.svg"
            alt="customer-id"
          >
          <span>{{ customerData.id }}</span>
        </div>
        <span v-if="isEditing">Change your contact Info</span>
        <span
          v-if="isEditing && (!isEmailValid || !isPhoneNumberValid)"
          class="error-message"
        >
          {{ errorMessage }}
        </span>
      </div>
      <div :class="['phone-number',{'editing': isEditing}]">
        <img
          src="@/assets/phone.svg"
          alt="phone"
        >
        <span v-if="!isEditing">{{ customerData.phoneNumber }}</span>
        <input
          v-else
          v-model="customerData.phoneNumber"
          :class="['phone-number__input',{'invalid': !isPhoneNumberValid}]"
          variant="underlined"
          type="tel"
          required
          @input="handlePhoneValidation"
        >
      </div>
      <div :class="['email',{'editing': isEditing}]">
        <img
          src="@/assets/email.svg"
          alt="email"
        >
        <span v-if="!isEditing">{{ customerData.email }}</span>
        <input
          v-else
          v-model="customerData.email"
          :class="['email__input',{'invalid': !isEmailValid}]"
          type="email"
          required
          @input="handleEmailValidation"
        >
      </div>
      <div
        v-if="isEditing"
        class="submission"
      >
        <button @click="handleFormSubmit">
          <img
            src="@/assets/arrow-right.svg"
            alt="arrow-right"
          >
        </button>
      </div>
    </div>
  </v-container>
</template>

<script setup lang="ts">
import { computed,reactive,ref } from "vue";

import { isValidEmail,isValidPhoneNumber } from "@/helpers/formValidations";

import { CustomerDataType } from "./CustomerDetailsTypes";

const customerData:CustomerDataType = reactive({
    firstname: "Anna Maria Tamm",
    lastname: "Rodriguez Espinosa",
    phoneNumber: "+372 5289 6572",
    email: "anna.tamm@gmail.com",
    id: 38912052254
});

const isEditing = ref<boolean>(false);
const isPhoneNumberValid = ref<boolean>(true);
const isEmailValid = ref<boolean>(true);
const errorMessage = ref<string>("Incorrect contact details");

const fullname = computed<string>(() => `${customerData.firstname} ${customerData.lastname}`);

const toggleEditing = ():void => {
    if (isEditing.value && (!isEmailValid.value || !isPhoneNumberValid.value)) {
        return;
    }
    isEditing.value = !isEditing.value;
};

const handleFormSubmit = ():void => {
    if (isPhoneNumberValid.value && isEmailValid.value) {
        isEditing.value = false;
    } else {
        errorMessage.value = "Incorrect contact details";
    }
};

const handleEmailValidation = ():void => {
    isEmailValid.value = isValidEmail(customerData.email);
    errorMessage.value = !isEmailValid.value ? "Incorrect email address" : "";
};

const handlePhoneValidation = ():void => {
    const formattedNumber = customerData.phoneNumber.split(" ").join("");
    isPhoneNumberValid.value = isValidPhoneNumber(formattedNumber);
    errorMessage.value = !isPhoneNumberValid.value ? "Incorrect phone number" : "";
};
</script>


<style scoped lang="scss">
	.customer-details {
		border-radius: 30px;
		border: 5px solid #F3EEFB;
		margin: auto;
		margin-top: 21px;
		max-width: 764px;
		color: #413C3C;

		.customer-name {
			display: flex;
			align-items: center;
			position: relative;

			.edit {
					position: absolute;
					right: 22px;
					top: 13px;
					width: 31px;
					height: 31px;
					border-radius: 50%;
					background-color: #FDFDFD;
					border: none;
					cursor: pointer;

					&:hover {
						background-color: #2B0A57;
						filter: drop-shadow(0px 1px 25px #5948AD);
						transition: all 0.5s;
						& > img {
							filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(150deg) brightness(104%) contrast(103%);
						}
					}
				}
		}

		&__personal-info {
			border-top-right-radius: 25px;
			border-top-left-radius: 25px;
			text-align: center;
			font-size: 18px;
			font-weight: 400;
			line-height: 28px;
			color: #413C3C;
			background-color: #F8F5FC;

			span {
				width: 100%;
				padding-top: 15px;
				padding-bottom: 12px;
				text-align: center;
				position: relative;
			}
		}

		&__contact-details {
			display: flex;
			align-items: center;
			justify-content: space-evenly
			;
			padding-top: 14px;
			padding-bottom: 16px;

			img{
				margin-right: 5px;
			}

			.phone-number {
				display: flex;
				align-items: center;

				&__input {
					width: 65%;
					border-bottom: 1px solid #9C9C9C;
					outline: none;
					font-size: 14px;
					&--invalid{
						border-bottom: 1px solid #EB5757;
					}
				}

				&.edit {
					&:hover {
						svg {
							path {
								stroke: #2B0A57;
							}
						}
						input {
							border-bottom: 1px solid #2B0A57;
						}
					}
				}
			}

			.email {
				display: flex;
				align-items: center;

				&__input {
					border-bottom: 1px solid #9C9C9C;
					outline: none;
					font-size: 14px;

					&.invalid{
						border-bottom: 1px solid #EB5757;
					}
				}

				&.edit {
					&:hover {
						svg {
							path {
								stroke: #2B0A57;
							}
						}
						input {
							border-bottom: 1px solid #2B0A57;
						}
					}
				}
			}

			.customer-id {
				span {
					font-size: 14px;
				}

				.error-message {
					display: block;
					font-size: 10px;
					font-weight: 300;
					color: #EB5757;
				}
			}

			.submission {
				button {
					width: 31px;
					height: 31px;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #2B0A57;
					border-radius: 50%;

					img {
						margin: auto;
					}

					&:hover {
						background-color: #FDFDFD;
						transition: all 0.5s;
						filter: drop-shadow(0px 1px 25px #5948AD);
						& > img {
							filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(150deg) brightness(104%) contrast(103%);
						}
					}
				}
			}
		}
	}
</style>
