<template>
  <v-form
    class="application-form"
    @submit.prevent="handleFormSubmit"
  >
    <v-container class="application-form__personal-data">
      <h3>Personal information</h3>
      <v-row>
        <v-col
          cols="12"
          sm="6"
        >
          <v-text-field
            :model-value="countryOption.name"
            label="Country"
            variant="outlined"
            disabled
            density="compact"
          />
        </v-col>
        <v-col
          cols="12"
          sm="6"
        >
          <v-select
            v-model="personalData.selectedState"
            :class="['address-input',{ 'active': isManuallyEntered }]"
            :items="stateOptions"
            :item-props="transformOptions"
            :autofocus="isManuallyEntered"
            :rules="[() => !!personalData.selectedState || 'The field is required']"
            label="County"
            variant="outlined"
            density="compact"
            color="#2B0A57"
            append-inner-icon="mdi-chevron-down"
            @update:model-value="handleStateSelect"
          />
        </v-col>
        <v-col
          cols="12"
          sm="6"
        >
          <v-select
            v-model="personalData.selectedCity"
            :class="['address-input',{ 'active': isManuallyEntered }]"
            :items="cityOptions"
            :item-props="transformOptions"
            :rules="[() => !!personalData.selectedCity || 'The field is required']"
            label="City / Parish"
            variant="outlined"
            density="compact"
            color="#2B0A57"
            append-inner-icon="mdi-chevron-down"
          />
        </v-col>
        <v-col
          cols="12"
          sm="6"
        >
          <v-text-field
            v-model="personalData.selectedVillage"
            :class="['address-input',{ 'active': isManuallyEntered }]"
            :rules="[() => !!personalData.selectedVillage || 'The field is required']"
            label="Village / Township"
            density="compact"
            variant="outlined"
            color="#2B0A57"
          />
        </v-col>
        <v-col
          cols="12"
          sm="6"
        >
          <v-text-field
            :model-value="personalData.streetName"
            :class="['address-input',{ 'active': isManuallyEntered }]"
            :rules="[() => !!personalData.streetName || 'The field is required']"
            label="Street"
            density="compact"
            variant="outlined"
            color="#2B0A57"
          />
        </v-col>
        <v-col
          cols="12"
          sm="6"
        >
          <v-row>
            <v-col sm="4">
              <v-text-field
                :model-value="personalData.houseName"
                :class="['address-input',{ 'active': isManuallyEntered }]"
                :rules="[() => !!personalData.houseName || 'The field is required']"
                label="House"
                density="compact"
                variant="outlined"
                color="#2B0A57"
              />
            </v-col>
            <v-col sm="4">
              <v-text-field
                :model-value="personalData.apartmentName"
                :class="['address-input',{ 'active': isManuallyEntered }]"
                :rules="[() => !!personalData.apartmentName || 'The field is required']"
                label="Apartment"
                density="compact"
                variant="outlined"
                color="#2B0A57"
              />
            </v-col>
            <v-col sm="4">
              <v-text-field
                :model-value="personalData.postalCode"
                :class="['address-input',{ 'active': isManuallyEntered }]"
                :rules="[() => !!personalData.postalCode || 'The field is required']"
                label="Postal Code"
                density="compact"
                variant="outlined"
                color="#2B0A57"
              />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
    <HorizontalLine />
    <v-container class="application-form__address-entering-switch">
      <v-col
        sm="5"
        class="offset-sm-4"
      >
        <v-switch
          v-model="isManuallyEntered"
          inset
          color="#53CBA0"
          label="Add address manually"
          class="switch-element offset-sm-4"
        />
      </v-col>
      <div class="separator" />
    </v-container>
    <v-container class="application-form__pep-check py-0">
      <v-col
        sm="6"
        class="d-flex align-center offset-sm-3"
      >
        <v-checkbox
          v-model="isPepChecked"
          label="Neither I nor my family member is PEP"
          color="#2B0A57"
          hide-details
        />
        <button
          type="button"
          class="d-flex"
          @click="isPepModalActive = !isPepModalActive"
        >
          <img
            src="@/assets/info.svg"
            alt="info"
          >
        </button>
      </v-col>
    </v-container>
    <PepForm v-if="!isPepChecked" />
    <v-container class="application-form__beneficiary-check py-0">
      <v-col
        sm="6"
        class="d-flex align-center offset-sm-3"
      >
        <v-checkbox-btn
          v-model="isUltimateBeneficiaryChecked"
          label="I’m the ultimate beneficiary"
          color="#2B0A57"
          hide-details
        />
        <button
          type="button"
          class="d-flex"
          @click="isBeneficiaryModalActive = !isBeneficiaryModalActive"
        >
          <img
            src="@/assets/info.svg"
            alt="info"
          >
        </button>
      </v-col>
    </v-container>
    <v-container
      v-if="!isUltimateBeneficiaryChecked"
      class="application-form__personal-details"
    >
      <v-row>
        <v-col
          cols="12"
          sm="6"
        >
          <v-text-field
            :model-value="personalData.firstName"
            :rules="[() => !!personalData.firstName || 'The field is required']"
            label="Firstname"
            variant="outlined"
            density="compact"
            color="#2B0A57"
          />
        </v-col>
        <v-col
          cols="12"
          sm="6"
        >
          <v-text-field
            :model-value="personalData.lastName"
            :rules="[() => !!personalData.lastName || 'The field is required']"
            label="Lastname"
            variant="outlined"
            density="compact"
            color="#2B0A57"
          />
        </v-col>
        <v-col
          cols="12"
          sm="6"
        >
          <v-text-field
            :model-value="personalData.personalId"
            :rules="[() => !!personalData.personalId || 'The field is required']"
            label="Personal ID code"
            variant="outlined"
            density="compact"
            color="#2B0A57"
          />
        </v-col>
        <v-col
          cols="12"
          sm="6"
        >
          <v-select
            v-model="personalData.residency"
            label="Residency"
            :items="residencyCountries"
            :item-props="transformOptions"
            :rules="[() => !!personalData.residency || 'The field is required']"
            variant="outlined"
            density="compact"
            color="#2B0A57"
          />
        </v-col>
        <v-col
          cols="12"
          sm="6"
        >
          <v-text-field
            :model-value="personalData.birthPlace"
            :rules="[() => !!personalData.birthPlace || 'The field is required']"
            label="Birth place"
            variant="outlined"
            density="compact"
            color="#2B0A57"
          />
        </v-col>
        <v-col
          cols="12"
          sm="6"
        >
          <v-text-field
            :model-value="personalData.birthDate"
            :rules="[() => !!personalData.birthDate || 'The field is required']"
            label="Birth date"
            variant="outlined"
            density="compact"
            color="#2B0A57"
          />
        </v-col>
      </v-row>
    </v-container>
    <v-container
      v-if="!isPepChecked"
      class="application-form__beneficial-pep-check py-0"
    >
      <v-col
        sm="6"
        class="d-flex align-center offset-sm-3"
      >
        <v-checkbox-btn
          v-model="isBeneficialPepChecked"
          label="The beneficial owner is not a PEP"
          color="#2B0A57"
          hide-details
        />
      </v-col>
    </v-container>
    <PepForm v-if="!isPepChecked && !isBeneficialPepChecked" />
    <v-container class="application-form__submission">
      <button type="submit">
        Continue
      </button>
    </v-container>
    <Modal
      v-if="isBeneficiaryModalActive"
      title="Ultimate Beneficiary"
      @close="isBeneficiaryModalActive = false"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </Modal>
    <Modal
      v-if="isPepModalActive"
      title="PEP"
      @close="isPepModalActive = false"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </Modal>
  </v-form>
</template>

<script setup lang="ts">
import { reactive,Ref, ref } from "vue";

import HorizontalLine from "@/components/HorizontalLine/HorizontalLine.vue";
import Modal from "@/components/Modal/Modal.vue";
import PepForm from "@/components/PepForm/PepForm.vue";
import { getCityOptions,getCountryOptions, getStateOptions } from "@/helpers/locationOptions";
import { CityOptionType,CountryOptionType,StateOptionType } from "@/types/locationOptionsType";

import { PersonalDataType } from "./ApplicationFormTypes";

const countryOption: Ref<CountryOptionType> = ref({
    countryCode: "EE",
    name: "Estonia"
});

const isManuallyEntered = ref<boolean>(false);
const isPepChecked = ref<boolean>(true);
const isBeneficialPepChecked = ref<boolean>(false);
const isUltimateBeneficiaryChecked = ref<boolean>(true);
const isPepModalActive = ref<boolean>(false);
const isBeneficiaryModalActive = ref<boolean>(false);

const residencyCountries = getCountryOptions();
const stateOptions = ref<StateOptionType[]>(getStateOptions(countryOption.value.countryCode));
const cityOptions = ref<CityOptionType[]>([]);

const personalData:PersonalDataType = reactive({
    selectedState: null,
    selectedCity: null,
    selectedVillage: null,
    streetName: "",
    houseName: "",
    apartmentName: "",
    postalCode: "",
    firstName: "",
    lastName: "",
    personalId: "",
    residency: null,
    birthPlace: "",
    birthDate: ""
});

const transformOptions = (item: StateOptionType | CityOptionType | CountryOptionType) => {
    return {
        title: item.name
    };
};

const handleStateSelect = ():void => {
    if (!personalData.selectedState) {
        return;
    }
    cityOptions.value = getCityOptions(countryOption.value.countryCode, personalData.selectedState?.stateCode);
};

const handleFormSubmit = ():void => {
};
</script>

<style lang="scss">
.application-form {
	margin: auto;
	margin-top: 21px;
	max-width: 764px;

	&__personal-data {
		h3 {
			margin-bottom: 18px;
			margin-left: 14px;
			font-size: 16px;
			font-weight: 400;
			color: #413C3C;
		}
		.address-input {
			label {
				font-size: 14px;
			}
			&.active {
				.v-field__outline {
					--v-field-border-opacity: 100;
				}
			}
		}
	}
	.v-select__menu-icon {
		display: none;
	}
	.v-select--active-menu {
		.v-icon {
			transform: rotate(180deg);
			transition: transform 0.2s ease-in-out;
		}
	}
	&__address-entering-switch {
		.switch-element {
			margin: auto;

			.v-input__control {
				margin: auto;
			}
		}

		.separator {
			max-width: 568px;
			height: 1px;
			background: #E9E9E9;
			margin: auto;
		}
	}
	.v-switch--inset .v-switch__track {
		height: 28px;
	}

	&__submission {
		max-width: 372px;
		text-align: center;
		button {
			width: 100%;
			height: 48px;
			margin-top: 20px;
			font-weight: 600;
			border-radius: 8px;
			background-color: #2B0A57;
			color: #E9E9E9;
		}
	}
}
</style>
