<script setup lang="ts">
import ApplicationForm from "@/components/ApplicationForm/ApplicationForm.vue";
import CustomerDetails from "@/components/CustomerDetails/CustomerDetails.vue";
import LoanDetails from "@/components/LoanDetails/LoanDetails.vue";
import Logo from "@/components/Logo/Logo.vue";;
</script>

<template>
  <div class="main px-10">
    <Logo />
    <LoanDetails />
    <CustomerDetails />
    <ApplicationForm />
  </div>
</template>
